@model PongKey.Models.Welcome.ViewModels.WelcomeViewModel
@{
    ViewBag.Title = "Index";
 }
<div id="Main" style="padding: 25px">
    <div>
        <strong>Some Title Goes here</strong>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                @using (Html.BeginForm("Index", "Welcome", FormMethod.Post))
                {
                    <tr>
                        <td style="text-align: left; width:90%">
                            @Html.TextBoxFor(m => m.Name, new { style = "width: 100%" })
                        </td>
                        <td style="text-align: right; width:10%">
                            <button id="Add">Add</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div>
        <strong>Some Title Goes here</strong>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Event
                    </th>
                    <th>
                        Priority
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                       <a href="../Detail/Index/1">My Event</a> 
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        <a href="../Detail/Index/2">My Event 2</a> 
                    </td>
                    <td>
                        1
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
   

