@model PongKey.Models.Welcome.ViewModels.DetailViewModel
@{
    ViewBag.Title = "Index";
}
<h2>
    Event name goes here ...
</h2>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="Main" class="Main">
            <div>
                <strong> Edit event</strong>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        @using (Html.BeginForm("Index", "Detail", FormMethod.Post))
                        { 
                        <tr>
                            <td style="text-align: right; vertical-align:top; width: 15% ">
                                Event:
                            </td>
                            <td >
                                @*@Html.TextBoxFor(m => m.Name, new { style = "width: 100%" })*@
                            </td>
                            
                        </tr>
                        
                        <tr>
                            <td style="text-align: right; vertical-align:top; width: 15% ">
                                Description:
                            </td>
                            <td>

                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: right; vertical-align:top; width: 15% ">
                                Date:
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; vertical-align:top; width: 15% ">
                                Location:
                            </td>
                            <td></td>
                        </tr>
                        <tr>                            
                            <td style="text-align: right;" colspan="2">
                                <button id="Cancel"><< Back</button>
                                <button id="Add" type="submit">Update</button>
                            </td>
                        </tr>
                        } 
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<script>
    $("#Cancel").click(
        function () {
         //   alert();
            location.href = '/Welcome/Index';
        });
</script>
